nav {
    position: fixed;
    margin-top: -10px;
    width: 1340px;
    height: 55px;
    background-color: white;
    letter-spacing: 3pt;
    text-align: right;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 3px 5px  lightgray;
    z-index: 3;
   
}
ul {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 17px;
}
li {
    display: inline-block;
    margin-right: 25px;
}
#left {
margin-right: 800px;
text-align: left;}
a {
    text-decoration: none;
    color: black;
    font-size: .95em;
}
a:hover {
    background-color: lightgray;
  }
#burger {
    width: 1340px;
    display: inline-block;
    float: none;
}
#margin {
    color: darkslategray ;
    font-weight: 400;
    letter-spacing: 5pt;
    font-size: 2em;
    margin-left: 20px;
    margin-top: -80px;
}
p {
    white-space: pre-line;
    align-items: center;
    display: inline-block;
    font-size: 17px;

}

article {
    display: block;
    height: 730px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-bottom: 0.5px solid rgb(233, 231, 231);

}
#img2 {
    float: left;
    width: 500px;
    margin-right: 50px;
    opacity: 75%;
    border-radius: 5px;
}
#img3 {
    float: right;
    width: 500px;
    height: 600px;
    margin-left: 50px;
    opacity: 75%;
    border-radius: 5px;  
}
h2 {
    font-weight: lighter;
    letter-spacing: 5pt;
    font-size: 2em;
    margin-left: 20px;
}
h3 {
    font-weight: lighter;
    letter-spacing: 5pt;
    font-size: em;
    margin-left: 20px;
}
